[FILES]
dst_home_dir=/home/wangxin/panda

src_home_dir=/home/wangxin/panda_new

envfile_dir_src=%(src_home_dir)s/deploy/envfiles

dst_dirs_slave:%(dst_home_dir)s
               %(dst_home_dir)s/env
               %(dst_home_dir)s/bin
                %(dst_home_dir)s/sbin

dst_dirs_master:%(dst_home_dir)s
                %(dst_home_dir)s/env
                %(dst_home_dir)s/bin
                %(dst_home_dir)s/sbin

dst_files_slave:%(dst_home_dir)s/bin/panda_slave@%(src_home_dir)s/bin/panda_slave
                 %(dst_home_dir)s/sbin/stop_panda_base.sh@%(src_home_dir)s/sbin/stop_panda_base.sh

dst_files_master:%(dst_home_dir)s/bin/panda_server@%(src_home_dir)s/bin/panda_server
                 %(dst_home_dir)s/sbin/start_panda.sh@%(src_home_dir)s/sbin/start_panda.sh
                 %(dst_home_dir)s/sbin/stop_panda.sh@%(src_home_dir)s/sbin/stop_panda.sh
                 %(dst_home_dir)s/sbin/clean_panda.sh@%(src_home_dir)s/sbin/clean_panda.sh

envfile_dst=%(dst_home_dir)s/env/param.sh

[HOST_INFO]
username=wangxin
userpasswd=123
rootname=root
rootpasswd=111111

