
[STORE_INFO]
INITSZ=10
BLOCKSZ=2048
INDEX_BLOCKSZ=4096
INCREASZ=10
CACHESZ=8192

[HOST_INFO]
MASTER_IP=192.168.11.57
MASTER_PORT=4344
STATUS_MASTER_PORT=4345
SLAVE_IP:192.168.11.57
SLAVE_PORT=4346

[DATA_NAMES]
panda_home=/home/wangxin/panda
DIR_NAME:%(panda_home)s/data
BAL_DIR_NAME:%(DIR_NAME)s/panda_bal
SERVER_DIR_NAME=%(DIR_NAME)s/panda_server
VERTEX_INDEX_FILENAME=vertex.index
EDGE_INDEX_FILENAME=edge.index

[SLAVE_INFO]
HASH_NUM=3
SLAVE_THREAD_NUM=10
SLAVE_PERIOD=5
SLAVE_TIMEOUT=30

[MASTER_INFO]
MASTER_PERIOD=10
ALIVE_THRESHOLD=60

